@charset "utf-8";
/*------------------------------------------------------------------
[RTL Stylesheet]

Project:    Rhythm
Primary use:    MultiPurpose Template
-------------------------------------------------------------------*/

/* ==============================
   Fonts
   ============================== */
@font-face {
  font-family: 'DroidArabicNaskh';
  src: url('../fonts/DroidArabicNaskh.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidArabicNaskh.woff') format('woff'),
       url('../fonts/DroidArabicNaskh.ttf')  format('truetype'),
       url('../fonts/DroidArabicNaskh.svg#DroidArabicNaskh') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidArabicNaskh-Bold';
  src: url('../fonts/DroidArabicNaskh-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidArabicNaskh-Bold.woff') format('woff'),
       url('../fonts/DroidArabicNaskh-Bold.ttf')  format('truetype'),
       url('../fonts/DroidArabicNaskh-Bold.svg#DroidArabicNaskh-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidArabicKufi';
  src: url('../fonts/DroidArabicKufi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidArabicKufi.woff') format('woff'),
       url('../fonts/DroidArabicKufi.ttf')  format('truetype'),
       url('../fonts/DroidArabicKufi.svg#DroidArabicKufi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidArabicKufi-Bold';
  src: url('../fonts/DroidArabicKufi-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidArabicKufi-Bold.woff') format('woff'),
       url('../fonts/DroidArabicKufi-Bold.ttf')  format('truetype'),
       url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==============================
   Styles
   ============================== */
body{
  font-family: "DroidArabicNaskh", tahoma;
}
input,
textarea {
  text-align: right;
}

blockquote {
  border: none;
}
.logo,
a.logo:hover,
.widget-title,
.widgettitle,
table tbody td,
.text .widget-title,
.comment-reply-title,
.font-alt {
  font-family: 'DroidArabicKufi', tahoma;
  letter-spacing: 0;
}

.inner-nav ul {
  float: right;
}
.mn-sub {
  left: auto;
  right: 0;
}
.mn-sub li ul {
  left: auto;
  right: 100%;
}
.inner-nav ul li a {
  letter-spacing: 0;
}
.inner-nav ul li a i {
  margin-left: 0;
  margin-right: 5px;
}
.inner-nav ul li .mn-sub li a {
  text-align: right;
}
.mn-sub li .mn-angle-icon {
  float: left !important;
}
.inner-nav ul li .mn-angle-icon.fa-angle-right.right:before {
  content: "\f104";
}


.title-wrapper .col-md-8,
.title-wrapper .col-md-8 h1 {
  text-align: right !important;
}
.title-wrapper .mod-breadcrumbs {
  text-align: left !important;
}

/* Blog */
.blog-item-foot > a i.fa-angle-right:before {
  content: "\f104";
}
.blog-item-data {
  text-align: right;
  letter-spacing: 0;
}

.post-navigation a[rel="next"] {
  float: left;
}
.post-navigation a[rel="next"] .fa-angle-right:before {
  content: "\f104";
}
.post-navigation a[rel="prev"] {
  float: right;
}
.post-navigation a[rel="prev"] .fa-angle-left:before {
  content: "\f105";
}

/* Portfolio */
.work-navigation a {
  float: right;
}
.work-prev {
  text-align: right;
}
.work-prev .fa-chevron-left:before {
  content: "\f054";
}
.work-next {
  text-align: left;
}
.work-next .fa-chevron-right:before {
  content: "\f053";
}

/* Letter Spacings */
.tpl-progress-alt .progress-bar,
.accordion > div.dt,
.wpcf7-form-control.wpcf7-submit,
.comment-form input[type=submit],
.btn-mod, a.btn-mod,
blockquote footer,
.wysija-submit,
.tpl-progress,
.section-more {
  letter-spacing: 0;
}

/* Arrows */
.post-prev-more .fa-angle-right:before,
.section-more .fa-angle-right:before {
  content: "\f104";
}
.section-more .fa-angle-right:before {
  margin-right: 5px;
}

/* Shortcodes */
.section-title.align-left {
  text-align: right !important;
}
.section-title a.right {
  float: left !important;
}
.section-text {
  font-size: 13px;
  line-height: normal;
}
.tpl-progress .progress-bar {
  text-align: right;
  line-height: 26px;
}
.tpl-progress .progress-bar > span {
  top: 2px;
  right: auto;
  left: -5px;
}
.accordion > div.dt > a:after {
  right: auto;
  left: 10px;
}
.alt-features-descr.align-left,
.alt-features-item.align-left {
  text-align: right !important;
}
.alt-service-item {
  padding-left: 0;
  padding-right: 55px;
}
.alt-service-icon {
  left: auto;
  right: 0;
}
.widget.widget_product_search .woocommerce-product-search:after,
.widget.widget_search .search-form:after {
  right: auto;
  left: 0;
}
.owl-carousel {
  direction: ltr;
}
.contact-item {
  padding-left: 0;
  padding-right: 44px;
}
.ci-icon {
  left: auto;
  right: 3px;
}
.search-button {
  right: auto;
  left: 1px;
}
.wpcf7-form-control.wpcf7-submit {
  float: left;
}
.cf-left-col {
  float: right;
  margin-right: 0;
  margin-left: 1.2%;
}
.cf-right-col .wpcf7-form-control-wrap.your-message {
  margin-bottom: 0;
}
.error404 .hs-wrap .btn .fa-angle-left {
  float: left;
  margin-right: 5px;
}
.tpl-progress-alt .progress-bar {
  text-align: right;
}

/* Woocommerce */
.woocommerce-cart table.cart td,
.woocommerce-cart table.cart th {
  text-align: right;
}
.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
  float: right;
}
.shop_table.cart input[type="submit"] {
  float: left;
}
.shop_table.cart .coupon #coupon_code {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  float: none;
  text-align: right;
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address label {
  display: inline-block;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods li {
  text-align: right;
}
.woocommerce-checkout #payment div.payment_box:after {
  margin: -1em 2em 0 0;
  left: auto;
  right: 0;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.shop_table.woocommerce-checkout-review-order-table td,
.shop_table.woocommerce-checkout-review-order-table th {
  text-align: right;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  float: right;
}
.widget.woocommerce .product_list_widget li img {
  float: right;
  margin-right: 0;
  margin-left: 7px;
}